body{

	padding-top:50 px;
	background: url(../img/texture.png) top left repeat;

}
.container{
	width: 80%;
	height: 80%;
	background-color: black;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
}
.img-presentation{
	width: 15%;
	height: 15%;
}